<main class="main">
  <div class="inner">
    
    <h1 class="page-heading">
     飯テロ
    </h1>
    <% if user_signed_in? %>
    <div class="greeting">
    <%= "こんにちは、"%>
      <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: :greeting_link %>
    </div>
    <% end %>
    <div class="card_wrapper">
     <% @tweets.each do |tweet| %>
      <%= render partial: 'tweet', locals: {tweet: tweet } %>
     <% end %>
    </div>
  </div>
</main>
