<main class="main">
  <div class="inner">
    <h1 class="page-heading">
     飯テロ
    </h1>
    <div class="card_wrapper">
      <%= render partial: 'tweet', locals: {tweet: @tweet } %>
    </div>
  </div>
</main>
